 <body class="body">

      <!--MODAL INICIO-->

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Iniciar sesión</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Email:</label>
              <input type="email" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Contraseña:</label>
              <input type="password" class="form-control" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" [routerLink]="['/home']" (click)="aparecerF()" (click)="modal.dismiss('Cross click')">Ingresar</button>
        </div>
      </ng-template>

      <!--MODAL REGISTRO-->

      <ng-template #content2 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title2">Registrarse</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Email:</label>
              <input type="email" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Comunidad Autónoma:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Provincia:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Localidad:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">CP:</label>
                <input type="number" class="form-control" id="recipient-name">
              </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Confirmar contraseña:</label>
              <input type="password" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Contraseña:</label>
              <input type="password" class="form-control" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" [routerLink]="['/home']" (click)="aparecerF()" (click)="modal.dismiss('Cross click')">Registrarse</button>
        </div>
      </ng-template>
 
      <!-- HEADER -->
      <!-- botones-->
      
      <div id="boton" class="row d-flex justify-content-end">
        <button class="btn btn-outline-success btn-lg active" role="button" aria-pressed="true" type="submit"
          data-toggle="modal" data-target="#modalIngresar" (click)="openModal(content)">Ingresar</button> 
        <button class="btn btn-outline-success btn-lg active ml-3" role="button" aria-pressed="true" type="submit"
          data-toggle="modal" data-target="#modalRegistrar" (click)="openModal(content2)">Registrarse</button>
      </div>

       <!-- Logo -->
          <div id="titulo" class="row d-flex justify-content-center">
            <div class="display-1 text-success ">SileNole<br>
              <h3 class="text-success mb-4">Tu lugar de intercambio de bienes.</h3>
            </div>
          </div>

            

      <!-- CARROUSEL -->
 
      <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>
 
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Modal</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This is a modal.
        </div>
      </ng-template>