<!-- PRODUCTOS -->

<div class="container-fluid" >
  <div class="row">
    <div class="col text-success mt-5 mb-5 text-center"><h2>Últimos Agregados</h2></div>
  </div>
</div>
<div class="container ">
<div class="card-columns" >
  <div class="card col-md-12">
    <img class="card-img-top" src="../../assets/img/img/bicicleta.jpg" alt="Card image cap" width="80px" height="150px">
    <div class="card-block">
      <h5 class="card-title">Producto: Nombre</h5>
      <h6 class="card-text">Descripcion:</h6>
      <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
      <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
    </div>
  </div>
  <div class="card col-md-12"  >
    <img class="card-img-top" src="../../assets/img/img/mesa.jpg" alt="Card image cap" width="80px" height="150px">
    <div class="card-block">
      <h5 class="card-title">Producto: Nombre</h5>
      <h6 class="card-text">Descripcion:</h6>
      <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
      <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
    </div>
  </div>
  <div class="card col-md-12">
    <img class="card-img-top" src="../../assets/img/img/casco.jpg" alt="Card image cap" width="80px" height="150px">
    <div class="card-block">
      <h5 class="card-title">Producto: Nombre</h5>
      <h6 class="card-text">Descripcion:</h6>
      <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
      <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
    </div>
  </div>
  <div class="container ">
  <div class="row">
    <div class="col text-success mt-5 mb-5 text-center"><h2>Más cercanos a tí</h2></div>
  </div>
  
  </div>
  
 <!-- FIN PRODUCTOS -->
